html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
body {
	font-family:"Ubuntu", sans-serif;
	font-size:12px;
	background-color:#000;
}
header#header {
	position:fixed;
	top:0;
	right:0;
	left:0;
	z-index:2;
	padding:24px;
	text-align:center;
}
header#header p {
	font-size:32px;
}
header#header p.title {
	font-size:64px;
	font-weight:bold;
}
footer {
	position:fixed;
	right:0;
	bottom:10px;
	left:0;
	z-index:2;
	text-align:center;
}
canvas#output {
	width:100%;
	height:100%;
	background:black;
	-webkit-transform:scale(-1, 1);
}
video#webcam {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:640px;
	height:480px;
	z-index:-2;
}

/* ERROR */
div#error {
	margin:128px auto;
	max-width:640px;
	text-align:center;
	color:#ccc;
}
div#error h1 {
	padding-bottom:4px;
	font-size:24px;
	font-weight:700;
}
div#error a {
	margin-left:8px;
	color:#ccc;
}

div#dev {
	margin:128px auto;
	max-width:640px;
	color:#ccc;
}
div#dev h1 {
	margin-left:8px;
	font-size:14px;
	font-weight:700;
}
div#dev pre {
	margin:8px;
	padding:8px;
	overflow:scroll;
	font-family:"Ubuntu", sans-serif;
	background-color:#222;
	border:1px solid;
	border-radius:8px;
}
div#dev a {
	margin-left:8px;
	color:#ccc;
}